@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;500;700&display=swap');

*,::before, ::after{
	box-sizing: border-box;
}
:root{
	--header-height: 3rem;
	--left-navbar-width: 68px;
}
body{
	font-family: 'Noto Sans SC', sans-serif;
	margin-top: var(--header-height);
	padding-left: 1rem;
	transition: .5s;
}

a{
	text-decoration: none;
}
.header{
	background-color: #FCF2F5;
	padding: 0 1rem;
	width: 100%;
	height: var(--header-height);
	
	position: fixed;
	top:0;
	left:0;
	
	display:flex;
	align-items: center;
	transition: .5s;
}
.header-img{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	overflow:hidden;
/*	margin-left:calc(1000px - 5px);*/
	margin-left: auto;
	transition: .5s;
}

.header-img img{
	width: 35px;
}

.left-navbar{
	position: fixed;
	padding:.5rem 1.5rem 0 0;
	top: 0;
	left: -30%;
	
	width: var(--left-navbar-width);
	height: 100vh;
	background:#FF4685;
	transition: .5s;
	
}

.left-navbar:hover{
	width:13rem;
}

.nav{
	height:100%;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow:hidden;
}

.nav-logo,.nav-link{
	display: grid;
	grid-template-columns: max-content max-content;
	align-items: center;
	column-gap: 1rem;
	padding: .5rem 0 .5rem 1.5rem; 
}

.nav-logo{
	margin-bottom: 2rem;
}

.nav-logo-icon{
	font-size: 1.25rem;
	color:#F7F6F8;
	padding:0 20px 0 0;
}
.nav-logo-name{
	color:#F7F6F8;
	font-weight:100;
}

.nav-link{
	color:#F993AD;
	margin-bottom: 1.5rem;
	font-weight:100;
}

.nav-link:hover{
	color:#F7F6F8;
	
}
.active{
	color:#F7F6F8;
	font-weight:500;
}
.active::before{
	content:"";
	width: 2px;
	height: 32px;
	background-color:#F7F6F8;
	
	position:absolute;
	left:0;
}
.nav-icon{
	font-size: 1.25rem;
	padding:0 20px 0 0;
}

h1{
	display:inline-block;
	width:200px;
	height:50px;
	font-weight:100;
	color:#FF4685;

}

@media screen and (min-width: 768px){
	body{
		margin-top: calc(var(--header-height));
		padding-left: calc(var(--left-navbar-width));
	}
	.header-img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow:hidden;
/*	margin-left:calc(1000px - 5px);*/
	margin-left: auto;
	}

	.header-img img{
		width: 40px;
	}
	
	.left-navbar{
		left:0;
	}

}

.header{
	height:calc(var(--header-height)+1rem);
}

